<!doctype html>

<html lang="en">
<head>
 	<meta charset="utf-8">

 	<title></title>
	<meta name="description" content="Equipotential Simulator- McGill Physics Hackathon 2017">
	<!--<link rel=icon href='favicon.ico'>-->
 	<link type="text/css" rel="stylesheet" href="../static/css/index.css" media="screen, projection">

	<script type="text/javascript" src="../static/js/jquery-1.4.2.min.js"></script>

	<script type="text/javascript" src="../static/js/index.js"></script>
</head>

<body>
<div id="sliders">
	 <button class="button" onclick="uponAddParticle()">Add a particle</button>
	<div id="slidecontainer1">
		<input type="range" min="-10" max="10" value="0" class="slider1" id="charge1">
		<p style="font-size: 8px;"> Charge Value: <span id="q1"></span></p>
		<input type="range" min="-100" max="100" value="0" class="slider2" id="z1">
		<p style="font-size: 8px;"> X-Position: <span id="zp1"></span></p>
		<input type="range" min="-100" max="100" value="0" class="slider7" id="z7">
		<p style="font-size: 8px;"> Y-Position: <span id="zp7"></span></p>
	</div>

	<div id="slidecontainer2">
		<input type="range" min="-10" max="10" value="0" class="slider3" id="charge2">
		<p style="font-size: 8px;"> Charge Value: <span id="q2"></span></p>
		<input type="range" min="-100" max="100" value="0" class="slider4" id="z2">
		<p style="font-size: 8px;"> X-Position: <span id="zp2"></span></p>
		<input type="range" min="-100" max="100" value="0" class="slider8" id="z8">
		<p style="font-size: 8px;"> Y-Position: <span id="zp8"></span></p>
	</div>
	
	<div id="slidecontainer3">
		<input type="range" min="-10" max="10" value="0" class="slider5" id="charge3">
		<p style="font-size: 8px;"> Charge Value: <span id="q3"></span></p>
		<input type="range" min="-100" max="100" value="0" class="slider6" id="z3">
		<p style="font-size: 8px;"> X-Position: <span id="zp3"></span></p>
		<input type="range" min="-100" max="100" value="0" class="slider9" id="z9">
		<p style="font-size: 8px;"> Y-Position: <span id="zp9"></span></p>
	</div>
	<button class="button" onclick="uponClear()">Clear</button>
	<form name="myForm">
	    Scheme:<select id="colours" name="colours">
		    <option value="viridis">Viridis</option>
		    <option value="plasma">Plasma</option>
		    <option value="inferno">Inferno</option>
		    <option value="magma">Magma</option>
		    <option value="bone">Bone</option>
		    <option value="winter">Winter</option>
		    <option value="cool">Cool</option>
		    <option value="hot">Hot</option>
		    <option value="gistheat">Gist Heat</option>
		    <option value="jet">Jet</option>
		</select>
	<button class="button" type="submit" onclick="update()">Generate</button> 
	</form>
</div>
<div id="graph">
<img src="v.png" id="myImage">
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p style="font-family: Verdana;">With this project, we are attempting to simulate equipotential fields of charged particles. You can specify a maximum of three <br> particles and their charges (in the range of [-10,10]) as well as their x, y coordinates in a 2D plane, with the origin (0,0) being <br> in the centre and (100,100) and (-100,-100) defining the top right and bottom left corners respectively. You can also specify the <br> matplotlib theme from a selected list. The plot is generated using matplotlib and displayed with Javascript. </p>
<p>Authors: <br>
<a href="https://github.com/Vall-1996"> <img src="../static/git.png" style="width:20px;height:20px;"></a> Valérie Desharnais <br>
<a href="https://github.com/pf-physics"> <img src="../static/git.png" style="width:20px;height:20px;"></a> Sacha Perry-Fagant <br>
<a href="https://github.com/mjip"> <img src="../static/git.png" style="width:20px;height:20px;"></a> Marie Payne </p>

</body>
</html>